<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>No Distractions</title>
		<style>
		p {text-align: center;}
		h1 {text-align: center;}
		</style>
	</head>
	<body>
	<p>	
	<h1>{{ message }} </h1>	
	</p>
	<p>
		<b>
			{% if count == 1 %}
				You have visited: {{ count }} time today.
			{% else %}
				You have visited: {{ count }} times today.
			{% endif %}
		</b>
	</p>
	<p>
	<a href="history"> Check the last week of visits</a>
	</p>
	<p>
		<img src="./images/quote.png">
	</p>
	</body>
</html>

